section.top {
    background-image: url('https://github.com/images/modules/site/heroes/simple-codelines.svg');
    height: 90vh;
    background-color: #2b3137;
    background-size: cover;
}

header {
    width: 100%;
}

ul {
    list-style-type: none;
}

.container {
    width: 100%;
    max-width: 1350px;
    margin: 0 auto;
    padding: 0 2%;
}

.logo {
    position: relative;
    top: 10px;
    width: 35px;
    height: 35px;
    border-radius: 25px;
    background-color: white;
}

.logo img {
    position: relative;
    top: 6px;
    left: 2px;
}

header .container a {
    color: white;
    text-decoration: none;
    font-size: 17px;
}

.container nav ul li,
.container .logo {
    float: left;
    display: inline-block;
    margin: 0 11px;
}

.container ul li {
    position: relative;
    top: 20px;
}

.container ul li a:hover {
    color: #adb0b3;
}

.inputs-login {
    float: right;
    position: relative;
    top: 10px;
}

.inputs-login input[type=text] {
    color: white;
    background-color: #29292f;
    border: 0;
    border-radius: 8px;
    height: 40px;
    width: 230px;
    padding: 13px;
}

.inputs-login input[type=submit] {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid white;
    color: white;
    font-size: 17px;
    padding: 6px 8px;
    border-radius: 8px;
    cursor: pointer;
}

.inputs-login input[type=submit]:hover {
    color: #adb0b3;
    border-color: #adb0b3;
}

.inputs-login input {
    margin: 0 9px;
}

.primeiros-dois-inputs {
    display: inline-block;
}

.inputs-login img {
    display: none;
    cursor: pointer;
}

aside.menu-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 300px;
    background-color: white;
}

.menu-mobile a {
    color: rgba(0, 0, 0, 0.452);
    text-decoration: none;
}

.menu-mobile ul li {
    position: relative;
    left: 10px;
    border-bottom: 1px solid rgb(168, 168, 168);
    max-width: 90%;
    padding: 15px 0;
    cursor: pointer;
}

.menu-mobile input[type=text] {
    width: 280px;
    height: 32px;
    background-color: #29292f;
    color: white;
    border: 0;
    border-radius: 4px;
    padding: 8px;
    margin: 28px 10px 15px 10px;
}

span.aside-inputs {
    margin: 90px;
}

aside.menu-mobile span.aside-inputs input[type=submit] {
    background-color: white;
    padding: 6px 9px;
    border: 1px solid rgb(218, 209, 209);
    border-radius: 8px;
    color: gray;
    font-size: 15px;
    margin-left: 8px;
}

.principal {
    padding: 0 2%;
    max-width: 1100px;
    margin: 0 auto;
    width: 100%;
}

.text-wraper {
    float: left;
    width: 450px;
    margin: 20vh 0px;
}

.formulario {
    border-radius: 5px;
    padding: 10px;
    margin: 14px 0;
    float: right;
    width: 317px;
    height: 72vh;
    background: white;
}

.formulario span {
    position: relative;
    top: 5px;
    font-size: 13px;
    font-weight: bold;
    margin: 0 0px 0 15px;
}

.formulario input[type=text] {
    width: 90%;
    margin: 8px 15px;
    height: 30px;
    border: 1px solid #cccccc;
}

.formulario p {
    font-size: 12px;
    text-align: justify;
    margin: 0 18px;
}

.formulario input[type=submit] {
    margin: 10px 18px 15px 18px;
    width: 90%;
    height: 50px;
    color: white;
    background: #15be31;
    border-radius: 4px;
    border: 0;
}

.formulario .form-text-wraper {
    color: #5d5d5d;
}

.form-text-wraper a {
    text-decoration: none;
}

.text-wraper h2 {
    color: white;
    font-size: 50px
}

.text-wraper a {
    text-decoration: none;
    color: white;
}

.text-wraper p {
    color: rgb(189, 189, 189);
}


/*inicio media queryes*/

@media screen and (max-width: 1024px) {
    .primeiros-dois-inputs {
        display: none;
    }
    .li-desktop {
        display: none;
    }
    .inputs-login img {
        margin-left: 10px;
        display: inline-block;
    }
}

@media screen and (max-width: 800px) {
    section.top {
        height: 120vh;
    }
    .text-wraper {
        float: none;
        text-align: justify;
        max-width: 550px;
        margin: 3px auto;
        width: 90%;
    }
    .formulario {
        border-radius: 5px;
        padding: 10px;
        margin: 0 auto;
        float: none;
        width: 310px;
        height: 72vh;
        background: white;
    }
}